<footer class="site-footer">
    <div class="footer-wrapper">
        <h4 class="footer-header"><a href="/resources">Resource Page</a></h4>
        <hr class="footer-hr">
        <div class="footer-info">
            <p>Everything I use to make money playing daily fantasy sports.</p>
        </div>
    </div>
    <div class="footer-wrapper">
        <a href="/about"><h4 class="footer-header">About Me</h4></a>
        <hr class="footer-hr">
        <div class="footer-info">
            <p>Find out about me, my daily fantasy history, and why you can trust me.</p>   
        </div>             
    </div>
    <div class="footer-wrapper">
        <h4 class="footer-header"><a href="/contact">Contact Me</a></h4>
        <hr class="footer-hr">
        <div class="footer-info">
            <p>Twitter: <a href="http://twitter.com/dfslineups__">@dfslineups__</a></p>
            <p>Email: Ahmerzzoned@yandex.com</p>
        </div>
        <div>
            <a href="https://twitter.com/dfslineups__" class="flex flex-center">
                <img class="paypal" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
            </a>
        </div>
    </div>
    <br style="clear:both">
</footer>