/*
 * Styles for the Home Page
 */

.home-content {
    background-color: #f7f8fa;
}

.past-lineups-pointer {
    font-weight: bold;
}

img.lineup-img {
    max-width: 100%;
}

.lineup-date {
    text-align: center;
    padding: 25px 0;
    background-color: #fff;
    text-decoration: none;
    width: 100%;
    border: 1px solid #eeeff2;
    font-family: "Open Sans", sans-serif;
}

.load-more {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 25px 0;
    font-size: 2.5rem;
    background-color: #e8e9ed;
    &:hover {
        cursor: pointer;
    }
}
.home-header {
    margin: 15px 0;
    @media (max-width: 500px) {
        margin: 10px auto;
    }
}

.home-lineup-img {
    width: auto;
    margin: auto;
    align-self: center;
    -webkit-align-self: center;
    display: block;
    @media (max-width: 600px) {
        height: auto;
        width: 80%;
    }
}

.lineup-cashed {
    color: #63C16F;
    font-weight: bold;
}

.lineup-busted {
    color: red;
}

.home-lineup-container {
    .home-lineup-item {
        text-decoration: none;
        margin-bottom: 25px;
        margin: 15px;
        &:hover {
            color: black;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            -webkit-flex-direction: column;
            width: 80%;
            margin: 25px auto;
        }
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}