/*
 * Styles for the Home Page
 */

.home-content {
    background-color: #F5F5F5;
}

.past-lineups-pointer {
    font-weight: bold;
}

.lineup-img-container {
    background-color: #525A5D;
    padding: 40px 15px 50px;
    border-radius: 15px;
    width: 250px;
    height: 445px;
    margin: auto;
}

img.lineup-img {
    max-width: 100%;
}

.home-button {
    width: 35px;
    height: 35px;
    margin: auto;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 7.5px;
}

.lineup-date {
    text-align: center;
    padding: 15px 0;
    background-color: #fff;
    text-decoration: none;
    width: 250px;
    border: 1px solid #eeeff2;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    border-radius: 15px;
    margin: 10px auto 0;
}

.load-more-container {
    padding-top: 25px;
    text-align: center;
}

.load-more {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding: 15px 40px;
    background: #E8E9ED;
    border-radius: 15px;
    display: inline-block;
    &:hover {
        cursor: pointer;
    }
}

.home-section {
    padding: 25px 50px;
    @media screen and (max-width: 1320px) {
        padding: 25px 10px;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}

.home-header {
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
    @media (max-width: 500px) {
        margin: 10px auto;
    }
}

.home-lineup-img {
    width: auto;
    margin: auto;
    align-self: center;
    -webkit-align-self: center;
    display: block;
    @media (max-width: 600px) {
        // height: auto;
        // width: 80%;
    }
}

.lineup-cashed {
    color: #63C16F;
    font-weight: bold;
}

.lineup-busted {
    color: red;
}

.home-lineup-container {
    background-color: #CFCFCF;
    .home-lineup-item {
        text-decoration: none;
        margin-bottom: 25px;
        &:hover {
            color: black;
        }
        @media (max-width: 1150px) {
            margin-left: 10%;
            margin-right: 10%;
        }
        @media (max-width: 975px) {
            margin-left: 5px;
            margin-right: 5px;
        }
        @media (max-width: 600px) {
            // flex-direction: column;
            // -webkit-flex-direction: column;
            // width: 80%;
            // margin: 25px auto;
        }
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}

#past-lineups {
    padding-top: 60px;
}

.home-join-header,
.past-lineups-header,
.home-action-header {
    font-family: "Open Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.past-lineups-header {
    margin-bottom: 15px;
    text-align: center;
}

.quote {
    font: 1em Georgia, serif;
    margin: 2em auto;
    border: 2px solid black;
    background: #FFF;
    margin: 25px;
    padding: 25px;
    font-size: 110%;
    border-radius: 5px;
    min-width: 300px;
    span {
        font-style: italic;
        font-size: medium;
        display: block;
        margin-top: 0.5em;
        text-align: right;
    }
    @media (max-width: 768px) {
        min-width: 0;
        width: 90%;
        padding: 5px;
        margin: 25px 0;
    }
}

.action-container {
    width: 80%;
    margin: auto;
    @media (max-width: 768px) {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}

.home-action-header {
    font-size: 4rem;
    padding-top: 25px;
    text-align: center;
    @media (max-width: 768px) {
        margin-bottom: 50px;
    }
}

.home-action-paypal {
    align-self: center;
    text-align: center;
    -webkit-align-self: center;
    @media (max-width: 768px) {
        margin-bottom: 25px;
    }
}

.action-dropdown {
    // width: 266px;
    // height: 45px;
    // font-size: 2rem;
}

.action-sub-header {
    margin: auto;
}

.arrow-gray,
.arrow-white {
    position: relative;
}

.arrow-gray:after,
.arrow-gray:before,
.arrow-white:after,
.arrow-white:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-gray:after {
    border-top-color: #CFCFCF;
    border-width: 50px;
    margin-left: -50px;
    z-index: 1;
}

.arrow-white:after {
    border-top-color: #F5F5F5;
    border-width: 50px;
    margin-left: -50px;
    z-index: 1;
}

.arrow-padding {
    padding-top: 75px;
}
